progetto.dtd

<!ELEMENT TEI (teiHeader, facsimile?, text)>
<!ATTLIST TEI xmlns CDATA #FIXED "http://www.tei-c.org/ns/1.0">

<!ELEMENT teiHeader (fileDesc)>
<!ELEMENT fileDesc (titleStmt, publicationStmt, sourceDesc)>
<!ELEMENT titleStmt (title, respStmt)>

<!ELEMENT title (#PCDATA | hi | term | foreign | quote | orgName | persName | lb | pb)*>

<!ELEMENT respStmt (resp, name)>
<!ELEMENT resp (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT publicationStmt (p)>
<!ELEMENT sourceDesc (bibl)>

<!ELEMENT p (#PCDATA | lb | pb | persName | placeName | geogName | orgName | date | term | foreign | title | quote | hi | bibl | note | pubPlace)*>
<!ATTLIST p facs CDATA #IMPLIED>

<!ELEMENT bibl (#PCDATA | title | biblScope | date | pubPlace | publisher | author | orgName | hi | persName | lb)*>
<!ELEMENT biblScope (#PCDATA)>
<!ATTLIST biblScope unit CDATA #IMPLIED>
<!ELEMENT date (#PCDATA)>
<!ATTLIST date when CDATA #IMPLIED>
<!ELEMENT pubPlace (#PCDATA)>
<!ELEMENT publisher (#PCDATA)>
<!ELEMENT author (#PCDATA | forename | surname)*>
<!ELEMENT forename (#PCDATA)>
<!ELEMENT surname (#PCDATA)>

<!ELEMENT facsimile (surface+)>
<!ELEMENT surface (graphic, zone*)>
<!ATTLIST surface xml:id ID #REQUIRED>
<!ELEMENT graphic EMPTY>
<!ATTLIST graphic url CDATA #REQUIRED width CDATA #IMPLIED height CDATA #IMPLIED>
<!ELEMENT zone EMPTY>
<!ATTLIST zone xml:id ID #IMPLIED ulx CDATA #IMPLIED uly CDATA #IMPLIED lrx CDATA #IMPLIED lry CDATA #IMPLIED>

<!ELEMENT text (body)>
<!ELEMENT body (div)>

<!ELEMENT div (pb | head | opener | p | closer | note)*>
<!ATTLIST div type CDATA #IMPLIED>

<!ELEMENT head (#PCDATA | persName | placeName | bibl | term | hi | title | lb | pb)*>
<!ATTLIST head facs CDATA #IMPLIED>

<!ELEMENT opener (salute)>
<!ELEMENT salute (#PCDATA | lb | persName)*>
<!ELEMENT closer (signed)>
<!ELEMENT signed (#PCDATA | hi | persName | lb)*>
<!ATTLIST signed facs CDATA #IMPLIED>

<!ELEMENT note (#PCDATA | hi | title | placeName | persName | orgName | date)*>
<!ATTLIST note n CDATA #IMPLIED place CDATA #IMPLIED>

<!ELEMENT lb EMPTY>
<!ATTLIST lb facs CDATA #IMPLIED break CDATA #IMPLIED>

<!ELEMENT pb EMPTY>
<!ATTLIST pb n CDATA #IMPLIED facs CDATA #IMPLIED>

<!ELEMENT persName (#PCDATA | hi | lb)*>
<!ELEMENT placeName (#PCDATA | lb)*>
<!ELEMENT geogName (#PCDATA | lb)*>
<!ELEMENT orgName (#PCDATA | hi | lb)*>
<!ELEMENT term (#PCDATA | hi | foreign | lb)*>
<!ATTLIST term type CDATA #IMPLIED>
<!ELEMENT foreign (#PCDATA | hi | lb)*>
<!ATTLIST foreign xml:lang CDATA #IMPLIED>

<!ELEMENT quote (#PCDATA | lb | pb | persName | placeName | geogName | orgName | date | term | foreign | title | hi)*>

<!ELEMENT hi (#PCDATA | persName | placeName | date | term | foreign | title | lb | pb | orgName)*>
<!ATTLIST hi rend CDATA #IMPLIED>